data/
duckdb/
from_EC/
logs/
output/
notebooks/NKX2-2/error_corrected/step1_ADBC2_HawkBCs_RTBC_AD_filtered_barcodes_extracted.fastq
notebooks/GCN4/error_corrected/trebl_experiment_yeast_pool_A_Staller_AD_3_240_1_50p_MVS_0071_I1_MVS_0071_I2_TTCAATACGC_CTTGCACGAG_S18_AD_AD_BC_filtered_barcodes_extracted.fastq

notebooks/GCN4/error_corrected/trebl_experiment_yeast_pool_A_Staller_AD_3_240_1_67p_MVS_0072_I1_MVS_0072_I2_GTCGACTAAC_AAGACCTGAG_S19_AD_AD_BC_filtered_barcodes_extracted.fastq 

notebooks/GCN4/error_corrected/trebl_experiment_yeast_pool_A_Staller_AD_3_5_2_MVS_0074_I1_MVS_0074_I2_GTATTCACAG_GCTTATGAGA_S21_AD_AD_BC_filtered_barcodes_extracted.fastq
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Documentation build
docs/_build/

# OS files
.DS_Store
