data/
duckdb/
from_EC/
logs/

notebooks/NKX2-2/error_corrected/step1_ADBC2_HawkBCs_RTBC_AD_filtered_barcodes_extracted.fastq
notebooks/GCN4/error_corrected/trebl_experiment_yeast_pool_A_Staller_AD_3_240_1_50p_MVS_0071_I1_MVS_0071_I2_TTCAATACGC_CTTGCACGAG_S18_AD_AD_BC_filtered>
notebooks/GCN4/error_corrected/trebl_experiment_yeast_pool_A_Staller_AD_3_240_1_67p_MVS_0072_I1_MVS_0072_I2_GTCGACTAAC_AAGACCTGAG_S19_AD_AD_BC_filtered>
notebooks/GCN4/error_corrected/trebl_experiment_yeast_pool_A_Staller_AD_3_5_2_MVS_0074_I1_MVS_0074_I2_GTATTCACAG_GCTTATGAGA_S21_AD_AD_BC_filtered_barco>
**/.ipynb_checkpoints/
notebooks/.DS_Store

output/*
!output/ChopTFs_pipeline/
output/ChopTFs_pipeline/downsampling/
output/ChopTFs_pipeline/trebl_experiment_/
output/ChopTFs_pipeline/time_normalization/DBD_time_normalized_activities_bootstrapped_error_all_bootstraps.parquet
output/ChopTFs_pipeline/time_normalization/DBD_time_normalized_activities.csv
output/ChopTFs_pipeline/time_normalization/pool_size_read_depth_norm_activities.csv
output/ChopTFs_pipeline/time_normalization/empty_AD_time_normalized_activities.csv
output/ChopTFs_pipeline/time_normalization/full_data_time_normalized_activities.csv
output/ChopTFs_pipeline/AD_trebl_experiment_results.csv
output/ChopTFs_pipeline/RPTR_BC_trebl_experiment_results.csv
output/ChopTFs_pipeline/RT_trebl_experiment_results.csv
output/ChopTFs_pipeline/trebl_experiment_activities_per_barcode.csv

!data/DBD_sql_dump.csv.gz
!data/yeast_TFs.fasta
!data/NegControls_Design_AA.csv
!data/ChopTF/TREBL_ChopTF_AD_fastp/logs/fastp_summary.csv
!data/ChopTF/TREBL_ChopTF_RP_fastp/logs/fastp_summary.csv
!data/idea_kinetics.tsv
!data/chopTFs_controls.csv
!data/ChopTFs_sanborn/mat.pkl
!data/ChopTFs_sanborn/our_activators_merged.pkl
!data/ChopTFs_sanborn/our_repressors_merged.pkl
!data/ChopTFs_sanborn/sanborn_merged.pkl
!data/ChopTFs_sanborn/stricter_ads_merged.pkl

!output/ChopTFs_pipeline_step1_empty_ADs
!output/GCN4_pipeline/
output/GCN4_pipeline/downsampling/
!output/GCN4_preseq_RT.csv
!output/GCN4_preseq_AD.csv
!output/chopTFs_gcn4_exponential_merged.csv
!output/ChopTFs_activities_for_julieta.csv
!output/ChopTFs_speed_strength_diff_examples_for_CC.csv
!output/GCN4_speed_strength_diff_examples_for_CC.csv
!output/lab_meeting_figs_032426/
notebooks/**/saved_figures/
